	.text-primary,
	.panel-primary > .panel-heading,
	.navbar-inverse .dropdown-menu > li > a:hover,
	.navbar-inverse .dropdown-menu > li > a:focus,
	.nav > li > a:hover,
	.nav > li > a:focus,
	.accordion-heading .accordion-toggle > em,
	.message span,	
	a.list-group-item.active > .badge,
	.nav-pills > .active > a > .badge,
	a,
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus,
	.dropdown-menu > .active > a,
	.dropdown-menu > .active > a:hover,
	.dropdown-menu > .active > a:focus,
	.nav > li > a:hover,
	.nav > li.current a,
	.nav > li > a:focus,
	.check li:before,
	.footer-wrapper .nav li a:hover,
	.contact_details a:hover,
	.portfolio-filter li a:hover,
	.about_social a:hover,
	.theme_details .rating i,
	.highlight,
	.required {
		color:#FF0084;
	}

	.pagination > .active > a,
	.pagination > .active > span,
	.pagination > .active > a:hover,
	.pagination > .active > span:hover,
	.pagination > .active > a:focus,
	.pagination > .active > span:focus,
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus,
	.nav-tabs.nav-stacked > li > a:hover,
	.nav-tabs.nav-stacked > li > a:focus,
	.nav-tabs.nav-stacked > .active > a,
	.nav-tabs.nav-stacked > .active > a:hover,
	.nav-tabs.nav-stacked > .active > a:focus,
	.nav-list > .active > a,
	.nav-list > .active > a:hover,
	.nav-list > .active > a:focus,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-inverse .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-inverse .navbar-nav > li > a:focus,
	.nav-pills > li.active > a,
	.nav-pills > li.active > a:hover,
	.nav-pills > li.active > a:focus,
	.pager li > a:hover,
	.pager li > a:focus,
	.label-primary,
	.list-group-item.active,
	.list-group-item.active:hover,
	.list-group-item.active:focus,
	.panel-success > .panel-heading,
	.btn-primary,
	.tagcloud a,
	.btn-primary.disabled,
	.btn-primary[disabled],
	fieldset[disabled] .btn-primary,
	.btn-primary.disabled:hover,
	.btn-primary[disabled]:hover,
	fieldset[disabled] .btn-primary:hover,
	.btn-primary.disabled:focus,
	.btn-primary[disabled]:focus,
	fieldset[disabled] .btn-primary:focus,
	.btn-primary.disabled:active,
	.btn-primary[disabled]:active,
	fieldset[disabled] .btn-primary:active,
	.btn-primary.disabled.active,
	.btn-primary[disabled].active,
	fieldset[disabled] .btn-primary.active,
	.progress-bar-danger,
	.naver .naver-handle:before,
	#volume,
	mark,
	#pricing-table #most-popular,
	.navbar-toggle,
	#header-dropdown,
	.dmbutton:hover,
	.dmbutton:active,
	.dmbutton:focus,
	.arrow-down i,
	.b-link-flow .b-wrapper, .b-link-flow .b-top-line,
	.b-link-stroke .b-top-line,
	.b-link-stroke .b-bottom-line,
	.b-link-twist .b-top-line,
	.b-link-twist .b-bottom-line,
	.b-link-twist:hover .b-top-line b, .b-link-twist:hover .b-bottom-line b,
	.b-link-flip,
	.b-link-flip .b-top-line,
	.b-link-flip .b-bottom-line,
	.lt-ie10 .b-link-flip:hover .b-bottom-line b,
	.b-link-flip:hover .b-top-line b,
	.b-link-box .b-top-line,
	.b-link-box .b-bottom-line,
	.b-link-stripe .b-line,
	.b-link-apart-horisontal .b-top-line, .b-link-apart-horisontal .b-top-line-up,
	.b-link-apart-horisontal .b-bottom-line, .b-link-apart-horisontal .b-bottom-line-up,
	.b-link-apart-vertical .b-bottom-line, .b-link-apart-vertical .b-bottom-line-up,
	.b-link-apart-vertical .b-top-line, .b-link-apart-vertical .b-top-line-up,
	.b-link-diagonal .b-line,
	.b-link-fade .b-wrapper, .b-link-fade .b-top-line,
	#youtubevolume,
	a.remove,
	.dmtop {
		background-color:#FF0084;
	}

	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus,
	.panel-primary > .panel-heading,
	.breadcrumb,
	blockquote,
	blockquote.pull-right,
	.nav .open > a,
	.nav .open > a:hover,
	.nav .open > a:focus,
	.form-control:focus,
	.nav .open > a,
	.nav .open > a:hover,
	a.thumbnail:hover,
	.nav-tabs.nav-stacked > li > a,
	a.thumbnail:focus,
	.nav .open > a:focus,
	.dmbutton:hover,
	.dmbutton:active,
	.dmbutton:focus,
	#youtubevolume {
		border-color:#FF0084
	}

	.panel-primary > .panel-heading + .panel-collapse .panel-body,
	.navbar-default .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-inverse .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-inverse .navbar-nav > .active > a:focus,
	.nav .caret {
	  border-bottom-color: #FF0084;
	}

	.panel-primary > .panel-heading + .panel-collapse .panel-body,
	.nav .caret {
		border-top-color:#FF0084
	}
	::-moz-selection  {
		background:#FF0084;
	}
	::selection {
		background:#FF0084;
	}